<head>
    <meta charset="utf-8" />
    <title>koreaMap</title>
    <link rel="stylesheet" href="/css/korea.css" />
</head>
<style>

</style>
<script type="text/javascript" src="/js/d3.js"></script>
<script type="text/javascript" src="/js/korea.js"></script>
<link rel="stylesheet" href="https://unpkg.com/98.css">
<body>
    <div class="window"></div>
        <div class="title-bar">
          <div class="title-bar-text">login</div>
          <div class="title-bar-controls">
            <button aria-label="Minimize"></button>
            <button aria-label="Maximize"></button>
            <button aria-label="Close" onclick="window.close()"></button>
          </div>
        </div>
    <div id="container"></div>
</body>
